{% extends 'main/base.html' %}


{% block title%}
    {{title}}
{% endblock %}

{% block body%}
<br><br><a href="{% url 'n1' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Информация об ответственном за организацию питания в МОУ «СОШ № 16»</a>
<br><br><a href="{% url 'n2' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Перечень  примерных десятидневных МЕНЮ, разработанных организатором питания</a>
<br><br><a href="{% url 'n3' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Порядок  обеспечения питанием обучающихся из малообеспеченных семей и обучающихся с нарушениями здоровья</a>
<br><br><a href="{% url 'n4' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Примерное двухнедельное меню (горячее питание двухразовое) для обучающихся с ограниченными возможностями здоровья</a>
<br><br><a href="{% url 'n5' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Примерное двухнедельное меню льготная  категория (для обучающихся 1-4 классов)</a>
<br><br><a href="{% url 'n6' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Информация об организаторе питания обучающихся</a>
<br><br><a href="{% url 'n7' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Порядок обеспечения бесплатным горячим питанием обучающихся, получающих начальное образование</a>
<br><br><a href="{% url 'n8' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Порядок обеспечения обучающихся с ограниченными возможностями здоровья набором продуктов (сухим пайком)</a>
<br><br><a href="{% url 'n9' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Примерное двухнедельное меню льготная категория (обучающиеся из малообеспеченных семей и дети с нарушениями здоровья)</a>
<br><br><a href="{% url 'n10' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">График заседаний родительского общественного контроля организации питания обучающихся МОУ «СОШ № 16» на период с 08 февраля 2023 года по 31 мая 2023</a>
<br><br><a href="{% url 'n11' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">График питания обучающихся в МОУ «СОШ № 16»</a>
<br><br><a href="{% url 'n12' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Порядок  обеспечения питанием детей-инвалидов</a>
<br><br><a href="{% url 'n13' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Порядок обеспечения бесплатным двухразовым горячим питанием обучающихся в муниципальных общеобразовательных организациях Копейского городского округа, один из родителей которых  является лицом призванным на военную службу по мобилизации</a>
<br><br><a href="{% url 'n14' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Примерное двухнедельное меню для обучающихся  мобилизованных семей</a>
<br><br><a href="{% url 'n15' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Положение о бракеражной комиссии</a>
<br><br><a href="{% url 'n16' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Стоимость питания для всех категорий обучающихся</a>
<br><br><a href="{% url 'n17' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Порядок  обеспечения детей с ограниченными возможностями здоровья бесплатным двухразовым питанием</a>
<br><br><a href="{% url 'n18' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Порядок  предоставления услуги по обеспечению и выдаче молока обучающимся по программам начального общего образования</a>
<br><br><a href="{% url 'n19' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Примерное двухнедельное меню для питания обучающихся с сахарным диабетом</a>
<br><br><a href="{% url 'n20' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-green">Состав бракеражной комиссии на период с 08 февраля 2023 года по 31 мая 2023 года</a>
{% endblock%}