{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}
<h1>График заседаний родительского общественного контроля организации питания обучающихся МОУ «СОШ № 16» на период с 08 февраля 2023 года по 31 мая 2023</h1>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825325/2022-2023/Grafik_zasedanii_roditelskogo_obshchestvennogo_kontrolia_organizatsii_pitaniia_obuchaiushchikhsia_MOU_SOSH_N_16__2_.pdf" width="1300" height="500" />

{% endblock %}