{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}
<h1>Перечень  примерных десятидневных МЕНЮ, разработанных организатором питания</h1>
<br>
<h4>Перечень  примерных десятидневных МЕНЮ, разработанных организатором питания</h4>                                                                                                                       и реализуемых в МОУ «СОШ № 16»
<br><br>
Примерное двухнедельное меню льготная  категория  (для обучающихся 1-4 классов).
<br><br>
Примерное двухнедельное меню  для обеспечения бесплатным горячим питанием обучающихся по программам начального общего образования.
<br><br>
Примерное двухнедельное для  обеспечения бесплатным двухразовым питанием обучающихся с ограниченными возможностями здоровья.
<br><br>
Примерное двухнедельное меню для  обеспечения бесплатным питанием обучающихся из малообеспеченных семей и детей с нарушениями здоровья.
<br><br>
Примерное двухнедельное меню для питания обучающихся с сахарным диабетом.
<br><br>
Примерное двухнедельное меню для  обеспечения бесплатным двухразовым горячим питанием обучающихся по программам основного общего, среднего общего образования, один из родителей которых является лицом, призванным на военную службу по мобилизации в соответствии с Указом Президента Российской Федерации от 21 сентября 2022 года № 647 «Об объявлении частичной мобилизации в Российской Федерации».

{% endblock %}