{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}
    <h1>
        Информация о порядке учета мнения родителей (законных представителей) обучающихся по вопросам организации питания
    </h1>
    <p>
    Учет мнения родителей по вопросам питания
    Учет мнения родителей по вопросам питания, в том числе выражения мнения и пожеланий по предоставляемому питанию, осуществляется следующим образом:
    -     ежегодное анкетирование родителей и учащихся по вопросу удовлетворённости качеством школьного питания и внесения предложений по организации школьного питания;
    -     обсуждение вопросов школьного питания на общешкольных родительских собраниях и в классах с внесением предложений в протоколы родительских собраний и дальнейшем обсуждении на заседаниях Совета Учреждения и общественной комиссии по контролю за организацией  и качеством питания обучающихся МОУ «СОШ № 16».
    В целях улучшения  контроля за организацией питания и качеством приготовленных блюд в МОУ «СОШ № 16 родители могут посещать школьную столовую (предварительно подав заявку на посещение),  или связаться с ответственным лицом за организацию питания в МОУ «СОШ № 16» Бахман Татьяной Александровной по телефону 8(35139)76695, или свои предложения отправить на электронную почту  sh16@kopeysk-uo.ru
    </p>
    <img src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1839005/7B09ADE3-9C21-4E34-81D7-45D1C3B6A0E9.jpeg?1674014396104">

{% endblock %}