{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}
    <h1>Примерное двухнедельное меню (горячее питание двухразовое) для обучающихся с ограниченными возможностями здоровья</h1>

    <embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/Primernoe_dvukhnedelnoe_meniu_ot_20.02.23/Primernoe_dvukhnedelnoe_meniu__goriachee_pitanie_dvukhrazovoe__dlia_obuchaiushchikhsia_s_ogranichennymi_vozmozhnostiami_zdorovia.pdf?1676909648331" width="1300" height="500" />                                              z
{% endblock %}