{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}
    <h1>
        Информация о порядке учета мнения родителей (законных представителей) обучающихся по вопросам организации питания
    </h1>
    <p>
    Учет мнения родителей по вопросам питания
    Учет мнения родителей по вопросам питания, в том числе выражения мнения и пожеланий по предоставляемому питанию, осуществляется следующим образом:
    -     ежегодное анкетирование родителей и учащихся по вопросу удовлетворённости качеством школьного питания и внесения предложений по организации школьного питания;
    -     обсуждение вопросов школьного питания на общешкольных родительских собраниях и в классах с внесением предложений в протоколы родительских собраний и дальнейшем обсуждении на заседаниях Совета Учреждения и общественной комиссии по контролю за организацией  и качеством питания обучающихся МОУ «СОШ № 16».
    В целях улучшения  контроля за организацией питания и качеством приготовленных блюд в МОУ «СОШ № 16 родители могут посещать школьную столовую (предварительно подав заявку на посещение),  или связаться с ответственным лицом за организацию питания в МОУ «СОШ № 16» Бахман Татьяной Александровной по телефону 8(35139)76695, или свои предложения отправить на электронную почту  sh16@kopeysk-uo.ru
    </p><br><br>
    <img src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1839005/7B09ADE3-9C21-4E34-81D7-45D1C3B6A0E9.jpeg?1674014396104">
    <h3>Положение об общественной комиссии по контролю за организацией  и качеством питания обучающихся</h3>
    <embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825325/2022-2023/Polozhenie_ob_obshchestvennoi_komissii_po_kontroliu_za_organizatsiei_i_kachestvom_pitaniia_obuchaiushchikhsia_.pdf" width="1200" height="400" />                                              z
    <h3>Порядок допуска родителей (законных представителей) несовершеннолетних обучающихся в Муниципальное общеобразовательное учреждение «Средняя общеобразовательная школа №16» Копейского городского округа для проведения мониторинга качества питания </h3>
    <embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1839005/Poriadok_dopuska_roditelei__zakonnykh_predstavitelei__nesovershennoletnikh_obuchaiushchikhsia_v_MOUSOSH16_dlia_provedeniia_monitoring.pdf?1644734876783" width="1200" height="400" />
{% endblock %}