{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}

<h1>Информация об ответственном за организацию питания в МОУ «СОШ № 16»</h1>
<br>
<h4>Юридические  лица и индивидуальные предприниматели, оказывающие услуги по организации питания в МОУ «СОШ № 16»</h4>
<br><br>
Общество с ограниченной
ответственностью "ДИАЛОГПЛЮС"
<br><br>
Директор ООО "ДИАЛОГПЛЮС"<br><br>
Галицына Галина Геннадьевна
<br><br>
Юридический адрес:  454106, Россия, г. Челябинск, ул. Островского, д.81, пом.12
Почтовый адрес: Адрес 456612, Россия, Челябинская обл., г. Копейск, ул. Кемеровская, 15
Адрес электронной почты: ooodialogplus@bk.ru
<br><br>
С  ООО "ДИАЛОГПЛЮС" заключен  контракт   № Ф.2023-588  от 23 января 2023 года на оказание услуг по обеспечению бесплатным горячим питанием обучающихся бесплатным горячим питанием обучающихся, получающих начальное общее образование, детей из малообеспеченных семей, детей с нарушением здоровья, детей с ограниченными возможностями здоровья, детей один из родителей которых является лицом призванным на военную службу по мобилизации в соответствии с Указом Президента РФ от 21.09.2022г № 647 и обеспечению молоком питьевым для детского питания обучающихся по программам начального общего образования в МОУ «СОШ № 16».

{% endblock %}