{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}
<h3>Примерное двухнедельное меню льготная  категория (для обучающихся 1-4 классов)</h3>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/Meniu_2022-23/Primernoe_dvukhnedelnoe_meniu_dlia_obuchaiushchikhsia_1-4_klassov__2_.pdf?1678886281884" width="1200" height="400" />

<h3>Примерное двухнедельное меню (горячее питание двухразовое) для обучающихся с ограниченными возможностями здоровья</h3>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/Primernoe_dvukhnedelnoe_meniu_ot_20.02.23/Primernoe_dvukhnedelnoe_meniu__goriachee_pitanie_dvukhrazovoe__dlia_obuchaiushchikhsia_s_ogranichennymi_vozmozhnostiami_zdorovia.pdf?1676909648331" width="1200" height="400" />

<h3>Примерное двухнедельное меню льготная категория (обучающиеся из малообеспеченных семей и дети с нарушениями здоровья)</h3>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/primernoe_meniu_ot_16.03/Primernoe_dvukhnedelnoe_meniu_lgotnaia_kategoriia__obuchaiushchiesia_iz_maloobespechennykh_semei_i_deti_s_narusheniiami_zdorovia_.pdf?1678937989644" width="1200" height="400" />

<h3>Примерное двухнедельное меню за счет родительских средств</h3>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/Primernoe_dvukhnedelnoe_meniu_ot_20.02.23/Primernoe_dvukhnedelnoe_meniu_za_schet_roditelskikh_sredstv.pdf?1676909698418" width="1200" height="400" />

<h3>Примерное двухнедельное меню для питания обучающихся с сахарным диабетом</h3>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/primernoe_meniu_ot_16.03/Primernoe_dvukhnedelnoe_meniu_dlia_pitaniia_obuchaiushchikhsia_s_sakharnym_diabetom.pdf?1678938003364" width="1200" height="400" />

<h3>Примерное двухнедельное меню для обучающихся  мобилизованных семей</h3>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/Primernoe_dvukhnedelnoe_meniu_ot_20.02.23/Primernoe_dvukhnedelnoe_meniu_dlia_obuchaiushchikhsia__mobilizovannykh_semei.pdf?1676909733768" width="1200" height="400" />

{% endblock %}