{% extends 'main/base.html' %}


{% block title%}
    О нас
{% endblock %}

{% block body%}
<h1>Примерное двухнедельное меню льготная категория (обучающиеся из малообеспеченных семей и дети с нарушениями здоровья)</h1>
<embed src="https://shk16.kopeysk-uo.ru/uploads/43300/43211/section/1825323/primernoe_meniu_ot_16.03/Primernoe_dvukhnedelnoe_meniu_lgotnaia_kategoriia__obuchaiushchiesia_iz_maloobespechennykh_semei_i_deti_s_narusheniiami_zdorovia_.pdf?1678937989644" width="1300" height="500" />

{% endblock %}